.wrapper {
  width: 350px;
  border-radius: 8px;
  background-color: #81a9da;
  border: none;
  padding: 30px 25px;
  height: 100%;
  margin-left: 50px;
}

.h2 {
  text-align: center;
  color: #4e4889;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.label {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #4e4889;
  padding-left: 18px;
}

.input {
  border-radius: 30px;
  border: none;
  height: 35px;
  padding-left: 20px;
  outline: transparent;
  font-family: sans-serif;
  font-size: 14px;
}

.input::placeholder {
  font-size: 12px;
}

.button {
  padding: 8px 15px;
  background-color: #4e4889;
  color: #fff;
  border: none;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 180px;
  margin: 30px auto 0;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #35305d;
  color: #fff;
}
